<div class="chat-main">
  <div #chatmessages class="chatmessages" [scrollTop]="chatmessages.scrollHeight">
    
    <div class="no-messages" *ngIf="messages.length == 0">
      <h5>Get the Conversation Started...</h5>
    </div>
    
    <ul>
      <li *ngFor="let message of messages">
        <div *ngIf="message.isMe == false" class="you">
          <img src="https://avatars1.githubusercontent.com/u/3332224?v=3&s=460" class="circle" alt="you">
          <div class="speech">
            {{ message.message }}
            <div class="time">{{ message.date | date:'shortTime' }}</div>
          </div>
        </div>

        <div *ngIf="message.isMe == true" class="me">
          <img src="https://avatars1.githubusercontent.com/u/3332224?v=3&s=460" class="circle" alt="you">
          <div class="speech">
            {{ message.message }}
            <div class="time">{{ message.date | date:'shortTime' }}</div>
          </div>
        </div>

        <div class="clear"></div>
      </li>
    </ul>

    <div class="clear"></div>
  </div>

  <div class="chat-input">
    <div class="row">
      <div class="col s2">
        <button class="btn-floating"><i class="ion ion-link"></i></button>
        <button class="btn-floating"><i class="ion ion-android-happy"></i></button>
      </div>
      <div class="col s9">
        <form (keydown)="enterMsg($event)" name="messageForm" autocomplete="off">
          <input name="message" type="text" [(ngModel)]="message.message" placeholder="Message...">
        </form>
      </div>
      <div class="col s1">
        <button (click)="sendMsg()" class="btn-floating"><i class="ion ion-paper-airplane"></i></button>
      </div>
    </div>
  </div>

</div>
